/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the entire page */
body {
    background-color: transparent;
    font-family: Arial, sans-serif;
   
}

/* Style the header */
h1 {
    text-align: center;
    color: #1d1d1d;
    padding: 20px;
    text-decoration: underline;
}

/* Style the form container */
#contactForm {
    background-color:rgb(206, 205, 205);
    border-radius: 8px;
    
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
   opacity: .8;
}

#purpose{
    border: none;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.945);


}
/* Style form labels */
label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    text-decoration: underline;
}

/* Style form inputs and textareas */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style the thank you message */
#thankYou {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 8px;
}
